/*
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)
*/

body {
    background-color:hsl(212, 45%, 89%);
    font-family: "Open Sans", sans-serif;
}

.QRcode {
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
    margin:100px 475px;
    min-width: none;
    max-width: 1440px;
    box-sizing:border-box;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    
}
.QRcode__text {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.QRcode__image {
    width: 85%;
    border-radius: 5%;
    margin: 20px 20px;
}
.QRcode__maintext {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.QRcode__secondarytext {
    font-size: 15px;
    font-weight: 200;
}


.attribution { 
    margin: 50px;
  font-size: 11px; 
  text-align: center;
 }
.attribution a {
  color: hsl(228, 45%, 44%);
 }
 a:hover {
    text-decoration: none;
 }
