/*
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

FIX PADDING OF MAIN WHITE BOX, center card vertically by using flexbox height 100 vh
*/

body {
    background-color:hsl(212, 45%, 89%);
    font-family: "Open Sans", sans-serif;
    display:flex;
    align-items: center;
    height: 100vh;
    box-sizing:border-box;
    justify-content: center;
    flex-direction: column;
    }

.QRcode {
    margin:auto 0;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    
    
}

.QRcode__content{
    width: 250px;
    margin: 20px 20px;
}
main {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    
    
}

img {
    
    border-radius: 5%;
    
}
h1 {
    
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
p {
    
    font-size: 15px;
    font-weight: 200;
}


.attribution { 
    margin: 50px;
  font-size: 11px; 
  text-align: center;
 }
.attribution a {
  color: hsl(228, 45%, 44%);
 }
 a:hover {
    text-decoration: none;
 }
